@media (max-width: 600px) {
  #pnb-wiki {
    display: none;
  }
}

@media (max-width: 680px) {
  html > body #popnavbarlogo {
    width: 40px !important;
    margin-right: 5px !important;
    background: url('popicon.png') no-repeat !important;
    background-size: 40px 40px !important;
  }

  #popnavbarmenu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: #fff;

    ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;

        &::after {
          content: "";
          position: absolute;
          margin-top: -10px;
          left: 5%;
          right: 5%;
          width: 90%;
          height: 1px;
          background-image: linear-gradient(to right, transparent, #49B9C7, transparent);
        }

        &:first-child {
          &:after {
            background-image: none;
          }
        }
      }
    }
  }

  #popnavbarmenutoggle {
    display: block;
    position: relative;
    float: right;
    margin-right: 55px;
    margin-top: -6px;

    span {
      left: 10px;
      top: 24px;
      &::before {
        top: -8px;
      }
      &::after {
        bottom: -8px;
      }
      &::before,
      &::after {
        content: '';
      }
    }
    span,
    span::before,
    span::after {
      display: block;
      background-color: black;
      height: 4px;
      position: absolute;
      transition: all .3s ease-in-out;
      width: 30px;
    }
    &.open {
      span {
        background-color: transparent;
        &::before,
        &::after {
          background-color: black;
          top: 0;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: 830px) {
  #pnb-home,
  #pnb-start {
    display: none;
  }

  html > body #popnavbarlogo {
    padding-right: 15px !important;
  }
  
  //#popnavbarlogo a {
    //  text-indent: 99999px !important;
  //}

  #popnavbar {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  #popnavbar ul li {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}